body{
	font-family: 'Consolas', Courier, monospace;
	padding: 10px;
}

table{
	margin-right: auto;
	margin-left: auto;
}

a{
	color: black;
	text-decoration: none;
}

i{
	color: grey;
}

.red{
	background-color:#f9f2f4;
	color:#c7254e;
	padding:1px 4px;
	border-radius: 5px;
}

.bt{
	color: #48afe9;
}

.bt:hover{
	opacity: 0.7;
}
.bt:active{
	opacity: 0.8;
}

.icon{
	width: 30px;
	height: 30px;
	border-radius: 20%;
	position: absolute;
	top: 10px;
	left: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
}

.icon2{
	width: 30px;
	height: 30px;
	border-radius: 20%;
	position: absolute;
	top: 10px;
	left: 50px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
}

.jump{
	width: 2px;
	height: 2px;
	padding: 0px;
	border-radius: 0px;
	background-color: #ffffff;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	position: fixed;
	bottom: 0px;
	left: 0px;
}
